
li a:hover {
    background-color: rgb(221, 219, 219);
    color: rgb(12, 12, 12);
  }

  li a {
    font-family: Bebas Neue;
    font-size: 2vw;
    display: block;
    color: white;
    text-align: center;
    padding: .5vw .5vw;

    text-decoration: none;
  } 
  /* navbar */
.nav{
    background-color: #333;
    color: whitesmoke;
    display: flex;
    flex-direction: row;
    font-size: 1.5rem;
    margin-bottom: 1rem;
    padding: 1rem;
}
  /* For Desktop */
@media only screen and (min-width:561px) {
ul {
    width:auto;
    list-style-type: none;
    border-spacing: 0em;
    margin:0em;
    padding:0em ;
    overflow: hidden;
    border:0em;
    background-color: #333;
  }
  
  li {
    float: right;
  }
  
  


/* logo */
.logo{
    display: flex;
    align-items: center;
}
.logo img{
    height: 5vw;
    width: 5vw;
}

.logo h1 {
    font-size: 1.2em;
}
  /* Change the link color to #111 (black) on hover */
  

        .nav__toggle {
          position: absolute;
          cursor: pointer;
          margin: 0rem 1rem;
          right: 0;
        }

          .close {
            display: none;
          }
      
          .menu {
            margin-top: 0.2rem;
          }
        
      
        .nav__checkbox {
          display: none;
        }
      
        .nav__menu {
          display: flex;
          flex-direction: row;
          gap: 1rem;
          align-items: right;
          margin: 1rem;
      
        }

        .nav__toggle {
            display:none;
          }
      
    }
  
/* mobile */

@media only screen and (max-width:560px) {
    /* logo */
.logo{
    display: flex;
    align-items: left;
    background-color: #333;
    color: aliceblue;
}
.logo img{
    padding-top: 2vw;
    height: 7vw;
    width: 7vw;
}
.logo h1 {
    font-size: 1em;
}

    /* Toggle the hamburger menu in mobile view */
   
    .nav {
      
        border-bottom: 1px solid #eef1f6;
      }
      .nav__toggle {
        position: absolute;
        cursor: pointer;
        margin: 0rem 1rem;
        right: 0;
      }
      .nav__toggle svg {
        width: 1.5rem;
        fill: #eceef3;
      }
      .nav__toggle .close {
        display: none;
      }
      .nav__toggle .menu {
        padding-top: 2vw;
        margin-top: 0.2vw;
     
      }
      .nav__checkbox {
        display: none;
      }
      .nav__menu {
        display:flex;
        flex-direction: column;
        gap: 2rem;
        align-items: center;
        margin: 1rem;
      }
      .nav__menu li {

        list-style:none;
        display: none;
      }
      /*.nav__menu li:first-child {
        margin-right: auto;
        display: block;
      } */
      .nav__menu a {
        text-decoration: none;
        color: inherit;
        font-size: 3vw;
        
      }
      .nav__menu svg {
        width: 1.5rem;
        fill: #f9f9fa;
      }
      #nav__checkbox:checked ~ ul.nav__menu li {
        display: block;
      }
      #nav__checkbox:checked ~ label.nav__toggle .close {
        display: block;
      }
      #nav__checkbox:checked ~ label.nav__toggle .menu {
        display: none;
      }
    }