 body {
    font-family: Bebas Neue;
    background-color: #f80000;
    color: #0400f8;

}
h1,h2,h3,h4,h5,h6 {
    font-family: "Roboto+Condensed&display";
    font-size: 40pt;
}

header {
    text-align: center;
}

#hero, footer {
    background-color: #f1f1f1;
    text-align: center;
}

#hero img{
    width: 300px;
}

#bio{
    text-align: center;
}

