 body {
    font-family: Bebas Neue;
    background-color: #db6f6f;
    color: #110ebd65;

}
h1,h2,h3,h4,h5,h6 {
    font-family: "Roboto+Condensed&display";
    font-size: 40pt;
}

h2 {
  margin: .1em;  
}

header {
    text-align: center;
}
/* Hero Section */
#hero, footer {
    background-color: #f1f1f1;
    text-align: center;
}

#hero img{
    width: 300px;
}
/* Bio Section */
#bio{
    text-align: center;
}

section h2{
    font-family: Bebas Neue;
}

li{
    font-family: 'Noto Sans Mono', monospace;;
}

#gallery {
    border: 3px dotted #0414fd;
    margin-bottom: 2rem;
}

#gallery img {
    max-width:50%;
}

#gallery figure {
    text-align: center;
}
/* Hobbies*/
element.style {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Literature */

#lit{
    border: 3px dotted #0414fd;
    margin-bottom: 2rem;
}

#lit div{
   padding: 2rem; 
   max-width: 40rem;
   margin: 0 auto;
}

/* tablet size */
@media screen and (min-width: 60em) {
    figure {
        display: grid;
        grid-template-columns: 2fr 1fr;
    }
    figcaption {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 2rem;
        margin-left: 1rem;
    }
    figure img{
        width: 100%;
    }
    #lit div{
        max-width: 100%;
        columns: 20rem;
    }
}

/* large screen size */

@media screen and (min-width: 100em){
    #gallery{
        display: grid;
        grid-template-columns: 1fr 1fr 1 fr;
    }
}

hr{
    display: none;
}

#gallery{
    grid-column: 1/-1;
}

figure {
    display: block;
}
 .iframe-border {
    border: 3px dotted #0414fd;
  }

/* Contact Form */

#formElements {
    display: grid;
    row-gap: .5em;
}
#contact {
    padding: 1rem;
    max-width: 600px;
    margin: 2rem auto;
}

fieldset{
    border: 2px solid #0414fd;
    margin-top: 1em;
    margin-bottom: 1em;
    border-radius: 2rem;
}
legend {
    background-color: #0414fd;
    color: white;
    padding: .5em;
}

#contact input, #contact textarea, #contact select, #contact button {
    padding: .5em;
    font-size: 1rem;
}
#contact ul {
    list-style: none;
    padding: 0px;
}
#contact li {
    margin: 1rem;
}
#contact button {
    background-color: #0414fd;
    color: white; 
    border: 1px solid  #0400f8;
    max-width: 400px;
    justify-self: center  ;
}