html {
    scroll-behavior: smooth;
}
body {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
main {
    padding: 2vw;
}
.navbar{
    background-color: rgb(0, 0, 0);
    color: whitesmoke;
    display: flex;
    flex-direction: column;
}
.img {
    display: flex;
    align-items: center;
}

.img {
height: 7vw;
width: 7vw;
}

.img h1 {
    font-size: 1.2em;
}

.navbar-links li {
    list-style: none;
    display: block;
    padding: 0.5 0;
}

.navbar-links a {
    color: whitesmoke;
    background-attachment: #333;
    font-size: 1.5rem;
    padding: 1rem, 1.25rem;
}
.navbar-links a:hover,
.navbar-links a:focus{
    filter: invert(1);
    border-radius: 10px;
}